<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ContactChecker</servlet-name>
        <servlet-class>controller.ContactChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectChecker</servlet-name>
        <servlet-class>controller.ProjectChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientChecker</servlet-name>
        <servlet-class>controller.ClientChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsletterChecker</servlet-name>
        <servlet-class>controller.NewsletterChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginChecker</servlet-name>
        <servlet-class>controller.AdminLoginChecker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactChecker</servlet-name>
        <url-pattern>/ContactChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectChecker</servlet-name>
        <url-pattern>/ProjectChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientChecker</servlet-name>
        <url-pattern>/ClientChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsletterChecker</servlet-name>
        <url-pattern>/NewsletterChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginChecker</servlet-name>
        <url-pattern>/AdminLoginChecker</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
